<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="nav">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/comp1" routerLinkActive="active">Calculator</a>
    <a routerLink="/comp2" routerLinkActive="active">Currency converter</a>
    <a routerLink="/comp3" routerLinkActive="active">Transform</a>
    <a routerLink="/comp4" routerLinkActive="active">Time</a>
    <a routerLink="/comp5" routerLinkActive="active">Weather</a>
  </div>
  <router-outlet></router-outlet>
</body>
</html>